html {
    overflow-x: hidden;
	 box-sizing: border-box;
}

body {
	width:100%;
	min-width:100px;
	max-width:699px;
	margin:0 auto;
	font-size:100%;
    font-family: 'cairo', sans-serif;
	overflow-x: hidden !important;
	overflow-y: auto;
}

* {
	transition: all 0.3s ease;
	margin:0;
	padding:0;
}
*,
*::before,
*::after {
  box-sizing: inherit; 
}

.pc_only {
	display: none !important;
}

.mob_only {
	display: block !important;
}

.tablet_only {
	display: none;
}

.text-start {
	text-align: start;
}
.text-center {
	text-align: center;
}
.text-end {
	text-align: end;
}
a {
	text-decoration: none;
	color: inherit;
}


.row {
	width: 98%;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: start;
	flex-wrap: wrap;
}
.col-1 {
	width: 98%;
	margin: 1%;
}
.col-2 {
	width: 98%;
	margin: 1%;
}
.col-3 {
	width: 98%;
	margin: 1%;
}
.col-4 {
	width: 48%;
	margin: 1%;
}

.mnuBtn {
	display: none !important;
}













.bodyBg {
	position: fixed;
	bottom: -20%;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: 100% 100%;
	object-position: bottom center;
	z-index: 0;
	opacity: 0.2;
}


.pageFlexView {
	position: fixed;
	top: -10%;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 50;
	display: flex;
	justify-content: center;
	align-items: center;
}

.logInContainer {
	width: 100%;
	margin: 0 auto;
}
.logInContainer .logoCont {
	width: 100%;
	margin: 1em auto;
	display: flex;
	justify-content: center;
	align-items: center;
}
.logInContainer .logoCont img {
	width: 50%;
}

.logInContainer .loginTxt {
	width: 100%;
	margin: 1em auto;
	text-align: center;
	font-size: 1.6em;
	font-weight: 500;
	letter-spacing: 1px;
}

.formInputs {
	width: 80%;
	margin: 1em auto;
	position: relative;
}
.formInputs .formGroup {
	width: 100%;
	margin: 0 auto;
	border: 1px solid #000;
	overflow: hidden;
}

.formInputs .formGroup input {
	width: 100%;
	border: none;
	background: none;
	font-size: 1.3em;
	padding: 0.5em;
}
.topRad {
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}
.botRad {
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}

.formInputs .actionBtn {
	position: absolute;
	font-size: 1.5em;
	bottom: 8%;
	right: 1%;
	width: 1.5em;
	height: 1.5em;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 60;
	cursor: pointer;
}
.formInputs .cancelBtn {
	position: absolute;
	font-size: 1.5em;
	top: 10%;
	right: 0%;
	width: 1.5em;
	height: 1.5em;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 60;
	cursor: pointer;
	display: none;
}
.cancelBtnShowed {
	display: block !important;
}

.formInputs .actionBtn:hover {
	opacity: 0.7;
}
.btnerAtTop .actionBtn {
	bottom: revert !important;
	top: 10% !important;
}

.passer {
	height: 3em;
	opacity: 1;
}


input:focus {
  background-color: rgba(255,255,0,0.15) !important;
	outline: none;
}


.hiddenInput {
	height: 0 !important;
	opacity: 0 !important;
}

.hasError {
	color: red!important;
}


.loaderImg {
	width: 60%;
	display: block;
	margin: 0 auto;
}

.labelErr {
	width: 80%;
	margin: 2% auto;
	color: red;
	display: none;
}
.labelErrShowed {
	display: block !important;
}


