html {
   overflow-x: hidden;
	 box-sizing: border-box;
}

body {
	width:100%;
	margin:0 auto;
	min-width: 1026px;
	max-width: 3500px;
	font-size:100%;
  font-family: 'Montserrat', sans-serif;
	overflow-x: hidden !important;
	background: #052440;
}

* {
	transition: all 0.3s ease !important;
	margin:0;
	padding:0;
}
*,
*::before,
*::after {
  box-sizing: inherit; 
}

.pc_only {
	display: block;
}

.mob_only {
	display: none !important;
}

.tablet_only {
	display: none;
}

.text-start {
	text-align: start;
}
.text-center {
	text-align: center;
}
.text-end {
	text-align: end;
}
a {
	text-decoration: none;
	color: inherit;
}






@keyframes blurIt {
  0% {
	-webkit-filter: blur(0px);
	-moz-filter: blur(0px);
	-ms-filter: blur(0px);
	-o-filter: blur(0px);
	filter: blur(0px);
	}
  50% {
	-webkit-filter: blur(2px);
	-moz-filter: blur(2px);
	-ms-filter: blur(2px);
	-o-filter: blur(2px);
	filter: blur(2px);
	}
  100% {
	-webkit-filter: blur(0px);
	-moz-filter: blur(0px);
	-ms-filter: blur(0px);
	-o-filter: blur(0px);
	filter: blur(0px);
	}
}



.blured {
	-webkit-filter: blur(20px) !important;
	-moz-filter: blur(20px) !important;
	-ms-filter: blur(20px) !important;
	-o-filter: blur(20px) !important;
	filter: blur(20px) !important;
	transition: all 3s ease !important;
}



.patternContainer {
	position: fixed;
	bottom: 5%;
	left: 0%;
	width: 100%;
	height: 5em;
	z-index: 1;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: nowrap;
}
.pattern {
	width: 105%;
	height: 5em;
	transition: all 3s ease !important;
	background-size: contain !important;
	background-position: center center;
	background-repeat: no-repeat;
	margin-left: -2%;
}





.blurMe {
  animation-name: blurIt;
  animation-duration: 3s;
	animation-iteration-count: infinite;
}




input:focus {
  background-color: rgba(0,0,0,0.15) !important;
	outline: none;
}




.labelErr {
	width: 80%;
	margin: 2% auto;
	color: red;
	display: none;
}
.labelErrShowed {
	display: none !important;
}





.loginPanel {
	background: var(--white);
	position: fixed;
	width: 26%;
	left: 37%;
	top: 2%;
	border-radius: 5px;
	box-shadow: 1px 2px 5px rgba(0,0,0,0.5);
}
.logoCont {
	width: 100%;
	margin: 1em auto;
}
.logoCont img {
	width: 60%;
	margin: 0 auto;
	display: block;
}


.formInputs {
	width: 100%;
	margin: 1em auto;
}

.formGroup {
	width: 90%;
	margin: 1em auto;
}
.formGroup input {
	width: 100%;
	display: block;
	margin: 0 auto;
	font-family: inherit;
	padding: 0.8em;
	border-radius: 5px;
	border: 2px solid var(--primary);
	background: rgba(0,0,0,0.03);
	font-size: 1.2em;
}
.formGroup button {
	width: 100%;
	display: block;
	margin: 0 auto;
	font-family: inherit;
	padding: 0.5em;
	border-radius: 5px;
	border: none;
	background: var(--primary);
	color: #FFF;
	font-size: 1.2em;
	cursor: pointer;
}
.formGroup button:hover {
	opacity: 0.7;
}

.inputHidden {
	transform-origin: top center;
	transform: scale(1,0) !important;
	height: 0 !important;
}

#cancelBtn button {
	background: var(--secondary) !important;
}


.connectLogo {
	display: block;
	position: fixed;
	width: 14%;
	padding: 0.5% 2%;
	left: 43%;
	bottom: 15%;
	background: rgba(255,255,255,0.1);
}



